asn1crypto
backcall
boto3
botocore
certifi
cffi
chardet
cryptography
cycler
Cython
decorator
docutils
entrypoints
idna
ipykernel
jedi
jmespath
kiwisolver
matplotlib
parso
patsy
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
pycparser
Pygments
PyGObject
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
pyzmq
requests
s3transfer
scikit-learn
scipy
seaborn
setuptools
statsmodels
tornado
traitlets
urllib3
virtualenv
wcwidth
wheel
